@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist[wght].woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono[wght].woff2") format("woff2");
}

/* 添加初始主题预设，防止闪烁 */
:root {
  /* color-scheme: light; */
  --vp-font-family-base: "Geist", sans-serif, ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --vp-font-family-mono: "Geist Mono", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
  font-optical-sizing: auto;

  /* 亮色模式变量 */
  --bg-color: 0 0% 100%;
  --text-color: #213547;
}

/* 深色模式变量 */
:root.dark {
  color-scheme: dark;
  --bg-color: 240 10% 3.9%;
  --text-color: #ffffff;
}

/* 添加初始主题样式，防止闪烁 */
:root {
  background-color: hsl(var(--bg-color));
  color: var(--text-color);
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* 添加这段脚本，在页面加载前就设置主题 */
script {
  display: none;
}

/* 添加 Atom One Dark 主题样式 */
pre[class*="language-"],
code[class*="language-"] {
  color: #abb2bf;
  background: #282c34;
  font-family: "Geist Mono", "Fira Code", "Consolas", Monaco, "Andale Mono",
    "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 4px;
}
